/* Blog header for author page. */

.blog-header.author {
  height: 50vh;
  text-align: center;
}

.blog-header.author .meta a {
  color: #FFF;
}

.blog-header.author .meta ul {
  padding: 0;
}

.blog-header.author .meta li:not(:first-child)::before {
  content: '・';
  padding-right: 10px;
}

.blog-header.author .meta li {
  display: inline;
  padding-right: 10px;
}

.blog-header.author .image {
  border-radius: 50%;
  background-size: cover;
  margin: auto;
  background-color: #FFF;
  position: relative;
  border: none;
}

.blog-header.author .image::before {
  position: absolute;
  content: '';
  width: 143px;
  height: 143px;
  display: inline-block;
  background: #5D5F86;
  border-radius: 50%;
  top: 0;
  left: 0;
  z-index: -1;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Blog header for category page. */

.blog-header.category {
  text-align: center;
}

/* Blog header for tag page. */

.blog-main .value.tag::before {
  font-family: 'StarterKit';
  content: '\e004';
}

/* Blog header for archive page. */

.blog-main .value.archive::before {
  font-family: 'StarterKit';
  content: '\e00A';
}

/* Blog header for search page. */

.blog-main .value.search {
  padding-left: 10px;
}

/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}

/*
 * Footer
 */

.blog-footer {
  box-shadow: 0 -1px 1px rgba(0,0,0,0.1);
  color: #2F3163;
}

.blog-footer p:last-child {
  margin-bottom: 0;
}

.blog-footer.single {
  min-height: 4rem;
  position: fixed;
  bottom: -64px;
  overflow: hidden;
  width: 100%;
  background-color: #FFF;
  opacity: 0;
  -webkit-transition: all 500ms cubic-bezier(0.025, 0.970, 0.395, 1.000);
  transition: all 500ms cubic-bezier(0.025, 0.970, 0.395, 1.000);
  -webkit-transition-timing-function: cubic-bezier(0.025, 0.970, 0.395, 1.000);
  transition-timing-function: cubic-bezier(0.025, 0.970, 0.395, 1.000);
}

.blog-footer.single.fade-in {
  opacity: 1;
  -ms-transform: translate3d(0, -64px, 0);
  -webkit-transform: translate3d(0, -64px, 0);
  transform: translate3d(0, -64px, 0);
}

.blog-footer.single {
  text-align: center;
}

.blog-footer.single .menu {
  font-size: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
}

.blog-footer.single .menu::before {
  font-family: 'StarterKit';
  content: '\e009';
}

.blog-footer.single .previous {
  text-align: left;
  float: left;
}

.blog-footer.single .previous .label::before {
  font-family: 'StarterKit';
  content: '\e001';
}

.blog-footer.single .next {
  float: right;
  text-align: right;
}

.blog-footer.single .next .label::after {
  font-family: 'StarterKit';
  content: '\e002';
  margin-left: 15px;
}

.blog-footer.single .previous, .blog-footer.single .next {
  display: inline-block;
  max-width: 46vw;
}

.blog-footer.single a .label {
  font-family: 'Lato', sans-serif;
}

.blog-footer.single a .label, .blog-footer.single a i {
  color: #B4B4B4;
}

.blog-footer.single a p {
  margin: 4px 0 0 0;
}

.blog-footer.single .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blog-main.single p {
  margin-bottom: 20px;
}

.blog-main.single li {
  margin-left: 40px;
  list-style-type: disc;
}

.blog-main.single img {
  width: 100%;
  height: auto;
}

.blog-main.single .image-full-width + .image-label, .blog-main .image-full-column + .image-label, .blog-main .image-overflow-both + .image-label {
  width: 100%;
}

.block-img {
  margin-bottom: 0;
}

.blog-main.single .image-label {
  display: block;
  text-align: center;
  font-style: italic;
  font-size: 14px;
  color: #9494AF;
  margin: 0;
}

.blog-main.single .block-quotation {
  display: inline-block;
  font-style: italic;
  font-size: 24px;
}

.blog-main.single .block-quotation:before { content: "« " }

.blog-main.single .block-quotation:after { content: " »" }

.blog-main.single .block-citation {
  display: inline-block;
  font-style: italic;
  border-left: solid #B4B4B4 4px;
  padding-left: 10px;
}

@media (max-width: 767px) {

  .blog-main {
    font-size: 16px;
  }

  .blog-main pre {
    font-size: 14px;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 20px;
    margin-bottom: 14px;
  }

  h3 {
    font-size: 18px;
    margin-bottom: 14px;
  }

  .blog-header .wrapper {
    width: 80%;
  }

  .blog-header.blog .blog-title {
    font-size: 34px;
  }

  .blog-header.author .image {
    width: 80px;
    height: 80px;
    margin-bottom: 30px;
  }

  .blog-header.author .image::before {
    width: 113px;
    height: 113px;
  }

  .blog-header {
    padding: 5px;
    height: 40px;
  }

  .blog-header.home {
    background-image: none;
  }

  .blog-footer {
    font-size: 12px;
  }

  .blog-footer .menu {
    padding: 14px;
  }

  .blog-footer .label {
    font-size: 10px;
  }

  .blog-footer .label::before {
    font-size: 8px;
  }

  .blog-footer.single .title {
    max-width: 130px;
  }

  .blog-footer .previous .label::before {
    margin-right: 4px;
  }

  .blog-footer .next .label::after {
    margin-left: 4px;
  }

  .blog-footer .previous, .blog-footer .next {
    padding: 10px;
  }

  .blog-post-meta, .blog-post-meta .tags::before, .blog-post-meta .categories::before, .blog-post-meta .author::before {
    font-size: 12px;
  }

  .blog-footer.single .menu::before {
    font-size: 22px;
  }

  .blog-header.search .description {
    display: none;
  }

  .slides .button {
    padding: 1.5rem;
    width: auto;
  }
}